<% @venues.each do |venue| %>
<ul style="list-style: none;">
    <li><strong><%= venue[:name] %></strong></li>
    <li><%= venue[:monfrihours] %></li>
    <li><%= venue[:address] %></li>

</ul>
<p></p>

<% end %>
